.title-box~.recommends-list .recommend-item:first-child{padding:0 0 30px}
.recommends-list .recommend-item{border-bottom:1px solid #e5e5e5;padding:30px 10px 20px 0px;}
.recommends-list .recommend-item .item-inner{display:block;position:relative;width:100%}
.recommends-list .recommend-item .item-inner:after{content:"";display:table;clear:both;*zoom:1}
.recommends-list .recommend-item .image-box{float:left;width:30%;position:relative;max-height:240px;overflow:hidden}
/*.recommends-list .recommend-item .image-box img{width:250px}*/
.recommends-list .recommend-item .image-box .badge-rap{position:absolute;top:10px;left:10px;width:100%}
.recommends-list .recommend-item .image-box .badge-rap:after{content:"";display:table;clear:both;*zoom:1}
.recommends-list .recommend-item .image-box .badge-rap span{font-size:13px;color:#fff;display:inline-block;padding:4px 5px;margin-left:5px}
.recommends-list .recommend-item .image-box .badge-rap span:first-child{margin-left:0}
.recommends-list .recommend-item .image-box .badge-rap span.badge-coupon{background-color:#18d0c5}
.recommends-list .recommend-item .image-box .badge-rap span.badge-goodstay,.recommends-list .recommend-item .image-box .badge-rap span.badge-myroom{background-color:#ff2d60}
.recommends-list .recommend-item .image-box .maker-rap{background-color:rgba(0,0,0,.5);display:none;z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center}
.recommends-list .recommend-item .image-box .maker-rap .maker-image{transform:translateY(-50%);position:relative;top:50%}
.recommends-list .recommend-item .image-box .maker-rap img{animation-name:bounceInDown;animation-iteration-count:1;animation-duration:.4s;animation-delay:0s;animation-timing-function:ease;animation-fill-mode:both;-webkit-backface-visibility:hidden;backface-visibility:hidden;width:auto}
.recommends-list .recommend-item.focused .maker-rap{display:block}
.recommends-list .recommend-item .info-box{box-sizing:border-box;float:left;width:70%;padding-left:20px}
.recommends-list .recommend-item .info-box .title-rap .title-text{max-height:60px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;text-overflow:ellipsis;margin-right:60px;color:#333;vertical-align:middle;font-weight:550;letter-spacing:-1px;width:100%;}
.recommends-list .recommend-item .info-box .title-rap:focus strong,.recommends-list .recommend-item .info-box .title-rap:hover strong{color:#ff2d60}
.recommends-list .recommend-item .info-box .tags{border:1px solid #ccc;color:#333;font-size:13px;margin-left:10px;padding:3px 5px;vertical-align:middle}
.recommends-list .recommend-item .info-box .icons{margin-left:10px;vertical-align:middle}
.recommends-list .recommend-item .info-box .score-rap .icon-staylist-score{margin-top:-1px}
.recommends-list .recommend-item .info-box .score-rap .icon-score{display:inline-block;width:90px;height:20px;background-color:#eee}
.recommends-list .recommend-item .info-box .score-rap em{font-size:14px;color:#aaa;margin-left:10px}
.recommends-list .recommend-item .info-box .price-rap{margin-top:10px}
.recommends-list .recommend-item .info-box .price-rap:after{content:"";display:table;clear:both;*zoom:1}
.recommends-list .recommend-item .info-box .price-rap .price-item{margin-top:5px}
.recommends-list .recommend-item .info-box .price-rap .price-item:first-child{margin-top:0}
.recommends-list .recommend-item .info-box .price-rap .price-item .price-type{color:#333;display:inline-block;min-width:120px;margin-right:5px;font-size:12px;}
.recommends-list .recommend-item .info-box .price-rap .price-item .price-type b{font-weight:600}
.recommends-list .recommend-item .info-box .price-rap .price-item .price-label{font-size:12px;color:#fff;display:inline-block;padding:3px 5px 2px;vertical-align:top;margin-top:3px}
.recommends-list .recommend-item .info-box .price-rap .price-item .price-label.label-member{background-color:#666}
.recommends-list .recommend-item .info-box .price-rap .price-item .price-label.label-reserve{background-color:#ff2d60}
.recommends-list .recommend-item .info-box .price-rap .price-item em{margin-left:3px;font-size:24px;color:#333;vertical-align:middle;font-weight:600;letter-spacing:-1px}
.recommends-list .recommend-item .info-box .price-rap .price-item em i{color:#333;font-size:16px;margin-left:2px}
.recommends-list .recommend-item .info-box .price-rap .price-item small{font-size:12px;color:#888;margin-left:5px}
.recommends-list .recommend-item .info-box .price-rap .price-item small.underline{display:inline-block;margin-right:5px;text-decoration:line-through}
.recommends-list .recommend-item .info-box .badge-rap{margin-top:30px}
.recommends-list .recommend-item .info-box .badge-rap span{display:inline-block;margin-left:15px}
.recommends-list .recommend-item .info-box .badge-rap span em{font-size:14px;color:#333;margin-left:5px}
.recommends-list .recommend-item .info-box .badge-rap span:first-child{margin-left:0}
.recommends-list .recommend-item .info-box .hashtag-rap{margin-top:10px}
.recommends-list .recommend-item .info-box .hashtag-rap em{color:#333;font-size:12px;display:block;margin-bottom:10px;font-weight:700}
.recommends-list .recommend-item .info-box .hashtag-rap p{font-size:12px;color:#aaa;line-height:18px}

.recommends-list li:nth-child(1) { padding: 0px 10px 20px 0px;}

.recommends-list li {list-style: none;outline: none;}

.txt-distance {cursor:pointer;}
.txt-distance i{position:relative;top:-1px}
.txt-distance em{font-size:13px;margin-left:2px;font-weight:700;color:#808080;}

.f-right {    float: right;}

.icon-staylist-distance {    width: 14px;    height: 16px;   }
em{font-style: normal;}
.icon-staylist {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: middle;
    background: url(https://surfenjoy.cdn3.cafe24.com/icon/icon-staylist.svg) no-repeat; background-position: -86px 0;
}

a {
    color: #666666;
    text-decoration: none;
    cursor: pointer;
	padding-top:3px;
}

/*모바일 영역*/
@media all and (max-width:768px){
	.recommends-list .recommend-item .info-box .title-rap .title-text{font-size:15px;}
	.title-text span{height:15px;}
	.recommends-list li:nth-child(1) { padding: 0px 0px 5px 0px;}
	.recommends-list .recommend-item .image-box img{width:100%;}
		
	.recommends-list .recommend-item .image-box{width:37%;}
	.recommends-list .recommend-item .info-box{width:63%;padding-left:10px}
	.recommends-list .recommend-item .info-box .price-rap .price-item .price-type{min-width:30px;margin-top:3px;margin-right:2px;}
	.recommends-list .recommend-item .info-box .price-rap .price-item small{display:none;}
	.recommends-list .recommend-item .info-box .price-rap .price-item em{margin-left:1px;font-size:17px;font-weight:600;}
	.recommends-list .recommend-item .info-box .hashtag-rap p{font-size:11px;line-height:15px}
}

/*PC 영역*/
@media (min-width: 769px) {
	.recommends-list .recommend-item .info-box .title-rap .title-text{font-size:20px;}
	.title-text span{height:20px;}
}