/*미디어쿼리 1차(전)*/
@media (min-width: 861px) {
	.fixedRight {	position: fixed;	top: 40px;}
}
@media (min-width: 769px) and (max-width: 860px) {
	.fixedRight {	position: fixed;	top: 2px;}

}
/*넓이 1024px이하[~아이패드+유사device]*/
    
	/*공통 box-sizing*/
	.aaaaa{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	.layG_fov_start, .gpe_levelpoint, .gpe_login, .gpe_lang, .gpe_search_btn, .gpe_search, .tmenu1_wrap00,
	.gnb1_area_top2typeBG, .con_left_line, .con_right_line, .gpe_side_contents_L, .gpe_side_contents_R, .gpe_pm_conban, .gpe_pm_conban_num1, .gpe_pm_conban_code,
	.openmenu_wrap00, #top_proban_wrap00, .top_proban_wrap0, #gpe_divpop2{display:none;} /*#gpe_divpop1, */
	.gpe_allcon_wrap0, .gpe_contents_box{width:100% !important; padding:0 !important;}
	.gpe_allcon_wrap0{margin-top:0;}
	.gpe_contents{padding:10px 5px 0 5px;}
	.gpe_contents_xecon div.nova_img img{width:100% !important; height:auto !important;}
	.layG_munu_MobileBtn{display:block;}
	.footer_Util_wrap0{width:100% !important;}
	.xe-widget-wrapper{width:100% !important;}
    .gpe_movetop{top:50%;}
    
	/*.notice_MQarea{display:block;}*/
	.menu {position:fixed;left:-2px;bottom:-3px;width: 100%;text-align: center;}
	.topheader {
		height: 51px;
		background-color: white;
		position:fixed;left:-1px;width: 100%;text-align: center;
		border-bottom: 1px solid #f1f1f1;
	}
	.wellBtn {
	  min-height: 20px;
	  padding: 10px 6px 2px 6px;
	  margin-bottom: 2px;
	  background-color: white;
	  /*border: 1px solid #e3e3e3;*/
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
			  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	}
	#sidebarTmp{display:none;}
	.well {
	  min-height: 20px;
	  padding: 10px 6px 6px 6px;
	  margin-bottom: 0px;
	  background-color: white;
	  border: 1px solid #e3e3e3;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
			  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	}
	.spanresinfo{display:none;}

	.resbottom {background: #FFFFFF;border-radius: 3rem;box-shadow: 0 0.2rem 0.6rem 0 rgba(0,0,0,0.2);display: inline-block;margin: 0 auto 0.5rem auto;max-width: 70%;overflow: hidden;padding: 0 0.2rem;text-align: center;}

	.resoff {display:none;}
	.reson, .resoff {background: #FFFFFF;border: none;padding: 6px 20px 10px 20px;position: relative;}
    .reson > span, .resoff > span {color: #247B9F;font-size: 1.0rem;font-weight: bold;vertical-align: middle;}
    
	.gnb1_area_botline{display:none;}
	.gpe_location_area{display:none;}
    .gpe_contents_title{display:none;}
    
	.gpe_utilMenu, .gpe_copytxt{text-align:center; padding-left:20px; padding-right:20px;}
	.footer_Util_wrap0{padding-top:18px;}
	.gpe_utilMenu>ul li:first-child{padding-left:0;}
    .gpe_utilMenu>ul li{display:inline-block; padding:0 10px 0 10px;}
    
	.gpe_googlead{display:none;}
	.gpe_googleadtop{display:none;}

/*모바일메뉴 넓이 미디어쿼리*/
@media all and (max-width:979px){.layG_mobileM_G{width:40%;}}
@media all and (max-width:768px){.layG_mobileM_G{width:50%;}}
@media all and (max-width:707px){.layG_mobileM_G{width:60%;}}
@media all and (max-width:480px){.layG_mobileM_G{width:70%;}}