
header {
  background-color: #34495e;
  color: white;
  min-height: 85px;
  font-family: 'Helvetica';
  letter-spacing: 2px;
}

nav ul {
  border-top: 1px solid #2c3e50;
  text-align: center;
}

header nav li a {
  text-decoration: inherit;
  padding: 20px 0px;
  color: white;
  display: block;
  text-transform: uppercase;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

header nav li a:hover { background-color: #2c3e50; }

.menuBtn {
  display: block;
  line-height: 85px;
  text-align: right;
  padding-right: 20px;
  cursor: pointer;
}

.menuBtn:hover { opacity: 0.7; }

.menuBtn img {
  height: 40px;
  position: relative;
  top: 13px;
}
